# Log file
**/logs
**/*.log
eclipse-workspace/.metadata/.log

**/.metadata/*
**/.metadata/.plugins/**

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
