*/bin/*
.metadata
eclipse-workspace/.metadata
eclipse-workspace/ccsl-sts-main
eclipse-workspace/dependencies
eclipse-workspace/embedded-ccsl
eclipse-workspace/org.xtext.example.mydsl
eclipse-workspace/org.xtext.example.mydsl.ide
eclipse-workspace/org.xtext.example.mydsl.tests
eclipse-workspace/org.xtext.example.mydsl.ui
eclipse-workspace/org.xtext.example.mydsl.ui.tests
eclipse-workspace/sts-legacy
