.metadata
ccsl-sts-main
dependencies
embedded-ccsl
org.xtext.example.mydsl
org.xtext.example.mydsl.ide
org.xtext.example.mydsl.tests
org.xtext.example.mydsl.ui
org.xtext.example.mydsl.ui.tests
sts-legacy
